body{
	    font-family: 'Open Sans', Arial, sans-serif;
}

 h3{
 color:#e8eaf6;
 font-family: cursive;
  text-align: center; 
  font-size: 25px;
    }

.journals{
width: 190px;
 height: 190px; 
 display: flex;
 align-self: center;
 margin-left: 10px;
 margin-right: 10px;
 padding-bottom: 15px;
 padding-right: 15px;
}

#feature{
 background:#f1f8e9;
 padding-bottom: 40px;
}
.one{
	color:#ca3535;
	 font-family: cursive;
	 font-size: 45px;
	 text-align: center !important;
}
.two{
	color: #127ca5;
	 font-family: cursive; 
	 font-size: 45px;
	 justify-content: center;
}

ul{
	text-decoration: none;
	text-align: justify;
}

a{
	text-decoration: none;
}
.four{
	background: #4e342e;
	margin-top: 80px;
	padding-top: 20px;
	padding-bottom: 40px;
}
@media screen and (max-width: 1140px){
.container{
  width: 100%;
}
